[submodule "conjur-project-config"]
	path = conjur-project-config
  # git@github.com:cyberark/conjur-project-config.git
	url = https://github.com/cyberark/conjur-project-config.git
	branch = 5-single-update-script
